.ni-bg {
  @include position();  
  @include width-height(100vw, 100vh);
  background-color: $pale-bg;
}

.ni-title {
  color: $purple-1;
  @include width-height(240px, 85px);
  @include position();
  top: 12vh;
  left: 12vw;
  text-align: center;
  line-height: 1.15rem;
}

.ni-inputs-box {
  overflow: auto;
  height: 80vh;
}

.ni-input {
  top: 26vh;
  @include position(relative, 4px);  
  @include width-height(243px, 32px);
  left: 10.6vw;
  // border: 3px solid $purple-2;
  box-sizing: border-box;
  border-radius: 15px;
}
  //   .ni-input:nth-child(1) {
  //   border: 3px solid $purple-2;
  // }
  .ni-input:nth-child(even) {
    border: 3px solid $purple-4;
  }
  .ni-input:nth-child(odd) {
    border: 3px solid $purple-3;
  }

  .ni-add-input {
    margin-left: 5px;
  }
  .ni-clear-input {
    margin: 0px 27px;
  }

  .ni-buttons {
    // @include flexSetUp(space-around);
    width: 78vw;
    // top: 27.5vh;
    @include position(relative);

  }

@media only screen and (min-width: 768px) {

  .ni-title {
    width: 60vw;
    top: 16vh;
    left: 20vw;
    font-size: 1.8rem;
    line-height: 2rem;
  }

.ni-input {
  @include width-height(620px, 40px);
  left: 19.5%;
  border-radius: 20px;
  margin: 5.5px;
  top: 24vh;

}

.ni-buttons {
  width: 620px; 
}

.ni-remove-input {
  height: 50px;
}
 .ni-add-input {
    margin-left: 15px;
    height: 50px;
  }
  .ni-clear-input {
    margin: 0px 144px;
    height: 50px;
  }

  .ni-search {
    height: 50px;
  }
  .ni-inputs-box {
    height: 75vh;

}
}

@media (min-height: 800px) {
 
  .ni-title {
    top: 14vh;
    left: 10.5vw;
    width: 80vw;
  }

  .ni-input {
    left: 10.5vw;

  }

}