.ni-bg {
  @include width-height(100vw, 100vh);
  background-color: $pale-bg;
}

.ni-title {
  color: $purple-1;
  @include width-height(240px, 85px);
  margin: auto;
  text-align: center;
  line-height: 1.15rem;

  @include tablet {
      width: 60vw;
      font-size: 1.8rem;
      line-height: 2rem;
    }

  @include height {
    width: 80vw;
  }
}

.ni-inputs-box {
  display: flex;
}
.inputs {
  margin: auto;
}

.ni-input {
  @include width-height(243px, 32px);
  box-sizing: border-box;
  border-radius: 15px;

  @include tablet {
    @include width-height(620px, 40px);
    border-radius: 20px;
    margin-bottom: 5.5px;
    top: 18vh;
  
  }
  @include height {
    // left: 9vw;
  }
  @include desktop {
    // left: 0px;
  }

}
  //   .ni-input:nth-child(1) {
  //   border: 3px solid $purple-2;
  // }
  .ni-input:nth-child(even) {
    border: 3px solid $purple-4;
  }
  .ni-input:nth-child(odd) {
    border: 3px solid $purple-3;
  }

  .ni-add-input {
    margin-left: 5px;

    @include tablet {
      margin-left: 15px;
      height: 50px;
    }
  }
  .ni-clear-input {
    margin: 0px 27px;

    @include tablet {
      margin: 0px 144px;
      height: 50px;
    }
  }

  .ni-buttons {
    width: 78vw;
    margin: auto;
    margin-top: 155px;

    @include tablet {
      width: 620px; 
      top: 180px;
    }
  @include height {
    top: 200px;
  }

  }

@media only screen and (min-width: 768px) {

.ni-remove-input {
  height: 50px;
}

  .ni-search {
    height: 50px;
  }
  
}
