.landing-page {
  background-image: url('https://s3-us-west-1.amazonaws.com/fridgeraiders/bg-image.png');
  @include bg-image();
  height: 100vh;
}
.landing-content {
  @include flexSetUp(center, center, column);
}

.landing-title {
  color: $purple-1;
  @include width-height(auto, 167px);
  margin: auto;

  @include desktop {
    height: 40vh;
  }
}

.landing-sub {
  color: $purple-2;
  @include width-height(240px, 46px);
  text-align: center;

  @include desktop {
  @include width-height(440px, 86px);
  font-size: 36px;

  }
}

.landing-button {
  font-family: $main-font;
  color: $text-color;
  @include width-height(111px, 30px);
  background: $pale-bg;
  border: 2px solid $purple-3;
  box-sizing: border-box;
  border-radius: 15px 0px;
  font-size: 14px;

  @include desktop {
  @include width-height(155px, 42px);
  font-size: 24px;

  }
}