.landing-page {
  @include flexSetUp();
}

.landing-image {
  @include width-height(auto, 100vh);
  // @include bg-image();
  // margin: auto;
  overflow: hidden;
}

.landing-title {
  @include position();
  color: $purple-1;
  // text-align: center;
  // text-shadow: 2px 2px 2px rgba(51, 51, 51, 0.25);
  // font-size: 46px;
  // line-height: 46px;
  @include width-height(225px, 167px);
}

.landing-sub {
  @include position(absolute, auto);
  color: $purple-2;
  @include width-height(240px, 46px);
  left: 48px;
  top: 445px;
  text-align: center;
}

.landing-button {
  @include position(absolute, auto);
  font-family: $main-font;
  color: $text-color;
  @include width-height(111px, 30px);
  left: 112px;
  top: 490px;
  background: $pale-bg;
  border: 2px solid $purple-3;
  box-sizing: border-box;
  border-radius: 15px 0px;
  font-size: 14px;
  // text-align: center;
}