.nb-logo-mobile {
  @include flexSetUp(flex-start, center, row);
  padding: 10px;
  @include position();
  z-index: 1;
}

.nb-logo {
  @include width-height(30px, 35px);
}

.nb-title {
  font-size: 14px;
  margin-left: 5px;
  color: $purple-3;
}

.nb-bottom {
  @include flexSetUp(flex-end, center, row);
  @include width-height(100vw, 8vh);
  @include position();
  background-color: $purple-bg;
  bottom: 0px;
}

.nb-icon-login {
  padding-right: 45px;
  padding-left: 12px;

}
.nb-icon-book {
  padding-right: 15px;
}