.ni-bg {
  @include width-height(100vw, 100vh);
  background-color: $pale-bg;
}

.ni-inputs-box {
  display: flex;
  margin-top: 2vh;

  @include tablet {
    margin-top: 4vh;
  }
  @include height {
    margin-top: 6vh;
  }
}
.inputs {
  margin: auto;
}

.ni-input {
  @include width-height(243px, 32px);
  box-sizing: border-box;
  border-radius: 15px;
  margin-bottom: 4px;

  @include tablet {
    @include width-height(620px, 40px);
    border-radius: 20px;
    margin-bottom: 5.5px;

  }
  @include height {
    margin-bottom: 5.5px;
  }
  @include desktop {
    margin-bottom: 5.5px;
  }
}
.ni-input:nth-child(1) {
  border: 3px solid darken($purple-1, 10%);
}
// .ni-input:nth-child(even) {
//   border: 3px solid $purple-4;
// }
// .ni-input:nth-child(odd) {
//   border: 3px solid $purple-3;
// }

.ni-buttons {
  width: 78vw;
  margin: auto;
  margin-top: 5px;


  @include tablet {
    width: 620px; 
  }
@include height {

}
}
  .ni-add-input {
    margin-left: 5px;

    @include tablet {
      margin-left: 15px;
      height: 50px;
    }
  }
  .ni-clear-input {
    margin: 0px 27px;

    @include tablet {
      margin: 0px 144px;
      height: 50px;
    }
  }


@media only screen and (min-width: 768px) {

.ni-remove-input {
  height: 50px;
}

  .ni-search {
    height: 50px;
  }
  
}
