.loading {
  @include width-height(100vw, 100vh);
  background-color: $pale-bg;
  h1 {
    font-size: 48px;
    color: $purple-2;
    margin-top: 20px;

    @include height {
    color: $purple-1;
      }
      @include tablet {
    color: $purple-1;
        }
    @include desktop {
    color: $purple-1;
      }
  }
}

.loading-animation {
  @include flexSetUp(center, center, row);
  padding-top: 25%;

  @include height {
    padding-top: 35%;
    }
    @include tablet {
      padding-top: 40%;
      }
  @include desktop {
    padding-top: 15%;
    }
}

@keyframes float {
  50% {
    transform: translateY(-20px) rotate(0deg);
    filter: drop-shadow(0px 8px 2.5px rgba(51, 51, 51, 0.5))
  }
}

.fork {
  animation: float 2s cubic-bezier(.49,.05,.32,1.04) infinite alternate;
}

.plate {
  margin: 5px;
  animation: float 2s .25s cubic-bezier(.49,.05,.32,1.04) infinite alternate;
}

.knife {
  animation: float 2s .5s cubic-bezier(.49,.05,.32,1.04) infinite alternate;
}