.nb-large-screen {
  display: flex;
}

.nb-menu {
  @include flexSetUp(flex-end, center, row);
  color: $purple-2;
  font-size: 1.5rem;

  @include desktop {
    z-index: 1;
    width: 72%;
    margin-right: 30px;
  }
  @include height {
    width: 70%;
    margin-right: 30px;
  }
}
.nb-logo-mobile {
  @include flexSetUp(flex-start, center, row);
  // padding: 10px;
  padding: 10px 0px 0 10px;
}

.nb-logo {
  @include width-height(auto, 35px);

  @include desktop {
    @include width-height(auto, 70px);
  }
  @include height {
    @include width-height(auto, 70px);
  }
}

.nb-title {
  font-size: 1rem;
  margin-left: 5px;
  color: $purple-2;

  @include desktop {
    font-size: 1.5rem;
    margin-left: 15px;
  }
  @include height {
    font-size: 1.5rem;
    width: 60%;
  }
}

.nb-bottom {
  @include flexSetUp(flex-end, center, row);
  @include width-height(100vw, 8vh);
  @include position(fixed);
  background-color: $purple-bg;
  bottom: 0px;
  z-index: 1;
}

.nb-icon-login {
  padding-right: 45px;
  padding-left: 12px;

}
.nb-icon-book {
  padding-right: 15px;
}

  .nb-logo-mobile.large {
    padding: 25px;
    padding-left: 30px;
    width: 40%;
  }

  .nb-profile {
    margin: 0px 20px;
  }
