.pop-content {
  padding: 15px;
}

.loading2 {
  background-color: $pale-bg;
  margin: auto;
  // width: 80vw;
  padding: 15px;
  h1 {
    font-size: 48px;
    color: $purple-2;
    margin-top: 20px;
  }
}


.fork.popup {
  height: 10rem;

  @include tablet {
    height: 12rem;
  }
}

.plate.popup {
    height: 10rem;
    @include tablet {
      height: 12rem;
    }
}

.knife.popup {
    height: 10rem;
    @include tablet {
      height: 12rem;
    }
}