.pop-content {
  padding: 15px;
}

.loading2 {
  background-color: $pale-bg;
  margin: auto;
  // width: 80vw;
  padding: 15px;
  h1 {
    font-size: 48px;
    color: $purple-2;
    margin-top: 20px;
  }
}

.loading-animation2 {
  height: 50vh;
}

.fork {
  .popup {
    height: 200px;
  }
}

.plate {
  .popup {
    height: 200px;
  }
}

.knife {
  .popup {
    height: 200px;
  }
}