.nr-bg {
  @include width-height(100vw, 100vh);
  background-color: $pale-bg;
}

.nr-next {
  float: right;
  margin: 0 15px 20px 0px;
  color: $purple-1;
  font-family: $main-font;
  font-size: 14px;
  cursor: pointer;

  @include tablet {
    position: absolute;
    top: 90px;
    font-size: 24px;
  }

  @include desktop {
    display: none;
  }
}
.nr-buttons {

  @include tablet {
    background-color: $purple-bg;
    width: 100vw;
    height: 10vh;
    margin: 20px 0px 0px 0px;
    @include flexSetUp(center, center, row);
  }
  @include height {
    margin: 40px 0px 0px 0px;
  }
}
.nr-next-btn {
  margin-bottom: 9vh;
  cursor: pointer;

  @include tablet {
    margin-bottom: 0px;
    height: 5vh;
  }
  @include height {
    margin-bottom: 0px;
    height: 5vh;
  }
}

.nr-previous {
  margin-bottom: 9vh;
  cursor: pointer;
}

.nr-outer-box {
  @include width-height(88vw, auto);
  box-shadow: 0px 2px 5px $text-color;
  @include flexSetUp(center, center, column);
  border-radius: 18px;
  border: 2px solid $purple-4;
  margin: auto;
  margin-bottom: 35px;
  margin-top: -20px;
  background: $pale-bg;

  @include tablet {
    flex-wrap: wrap;
    width: 50vw;
    margin: 15px 18px;
    
  }
      @include height {
        width: 75vw;
      }
      @include desktop {
        width: 25.75vw;
        margin: 15px 18px;

      }
}
.initial-view {
  @include flexSetUp(flex-end, center, column);

}

.nr-tab {
  background: $faded-bg;
  border-radius: 0px 0px 15px 15px;
  position: absolute;
  width: 88vw;
  padding-bottom: 10px;
  transition: all .35s ease-in-out;

  h4 {
    padding-top: 5px;
    color: #fff;
  }
  label {
    color: #fff;
    
  }
  img {
    margin-left: 5px;
    margin-top: 5px;

    transition: all .35s ease-in-out;

  }
  @include tablet {
    width: 50vw;
    h4 {
      padding-top: 8px;
      font-size: 20px;
    }
    label {
      font-size: 18px;
    }
    img {
      margin-top: 5px;
      height: 18px;
    }
  }

  @include height {
    width: 75.5vw;
    h4 {
      padding-top: 8px;
      font-size: 28px;
    }
    label {
      font-size: 22px;
    }
    img {
      margin-top: 5px;
      height: 22px;
    }
  }

  @include desktop {
    width: 25.15vw;
    padding: 5px;
    border-radius: 0px;
    h4 {
      padding: 8px;
    }
    label {
      display: none;
    }
    img {
      display: none;
    }
  }
}

.radius {
  border-radius: 0px;
  transition: all .35s ease-in-out;
}
.radius2 {
  border-radius: 15px 15px 0px 0px !important;
  transition: all .35s ease-in-out;
}

.spin {
  transform: rotate(180deg);
  // transition: all .35s ease-in-out;
}
.nr-tab-content {
  width: 88vw;
  padding: 8px 0;
  display: none;
  transition: all .35s ease-in-out;

  
  @include tablet {
    width: 45vw;
    p {
      font-size: 18px;
    }
  }
  @include desktop {
    display: flex;
    width: 20vw;
    p {
      font-size: 18px;
    }
  }
  @include height {
    width: 70vw;
    p {
      font-size: 22px;
    }
  }
}

.expand {
  display: flex;
  transition: all .35s ease-in-out;
  }

.food {
  width: 88vw;
  border-radius: 15px;

  @include tablet {
    width: 50vw;
  }

  @include height {
    width: 75vw;
  }

  @include desktop {
    width: 25.75vw;
  }
}
