@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');
@import 'variables';
@import 'mixins';

body {
  font-family: $main-font;  
  color: $text-color;
  background: $purple-bg;
}

button:focus {
  outline: 0;
}

input:focus {
  outline: 0;
}

.header-curve {
  background-image: url('../components/images/header-curve.svg');
  @include bg-image(top, no-repeat, auto);

  @include tablet {
    background-image: url('../components/images/landscape-tablet.svg');
    // background-size: cover;
  }

  @include height {
    background-image: url('../components/images/portrait-tablet.svg'); 
  }

  @include desktop {
    background-image: url('../components/images/desktop-header.svg'); 

  }
}

input {
  font-family: $main-font;
  padding: 8px;
  font-size: 1.1rem;
  color: $text-color;

  @include tablet {
    font-size: 1.4rem;
  }
}

