@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');
@import 'variables';
@import 'mixins';

body {
  font-family: $main-font;  
  color: $text-color;
}

button:focus {
  outline: 0;
}

input:focus {
  outline: 0;
}

.header-curve {
  @include width-height(100vw, auto);
  position: absolute;
  z-index: 0;
  top: 0;
}

input {
  font-family: $main-font;
  padding: 8px;
  font-size: 1.1rem;
  color: $text-color;
}


@media only screen and (min-width: 768px) {
  .header-curve { 
    transform: scaleY(.5) translateY(-52%);
    @include position();
  }

  input {
    font-size: 1.4rem;
  }
}

@media (min-height: 800px) {
  .header-curve { 
    transform: scaleY(.5) translateY(-50%);
  }
}
