$main-font: 'Reem Kufi', sans-serif;

$purple-bg: #674261;
$pale-bg: #F6F6F6;
$faded-bg: rgba(51, 51, 51, 0.8);

$text-color: #333;

$logo-grey: #818181;
$purple-1: #ECE1EE;
$purple-2: #C2ADC6;
$purple-3: #9F80A7;
$purple-4: #683755;