@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');
@import 'variables.scss';
@import 'mixins.scss';

.title {
  color: $purple-1;
  @include width-height(240px, 85px);
  margin: auto;
  text-align: center;
  line-height: 1.15rem;

  @include tablet {
    width: 60vw;
    font-size: 1.8rem;
    line-height: 2rem;
    margin-top: 2vh;

    }

  @include height {
    width: 80vw;
  }
}

body {
  font-family: $main-font;  
  color: $text-color;
  background: $purple-bg;
}

button:focus {
  outline: 0;
}

input:focus {
  outline: 0;
}

.header-curve {
  background-image: url('../components/images/header-curve.svg');
  @include bg-image(top, no-repeat, auto);

  @include tablet {
    background-image: url('../components/images/landscape-tablet.svg');
    // background-size: cover;
  }

  @include height {
    background-image: url('../components/images/portrait-tablet.svg'); 
  }

  @include desktop {
    background-image: url('../components/images/desktop-header.svg'); 

  }
}

input {
  font-family: $main-font;
  padding: 8px;
  font-size: 1.1rem;
  color: $text-color;

  @include tablet {
    font-size: 1.4rem;
  }
}

